

<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover min-h-screen md:pb-56 pt-32 font-poppins">
   <h1 class="text-black text-2xl px-16 font-bold">Positivity Hub</h1>
   <h1 class="text-black px-16 py-8  text-base font-poppins">Positive Thoughts</h1>
 <section class=" px-16 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-7 lg:grid-cols-7 xl:grid-cols-7 gap-4">

 
   <% for(let i=0; i<thoughts.length; i++) {%>
     <section class="hover:scale-105 transition duration-300 ease-in-out  bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 shadow-neutral-500 shadow-md ">
        
            <a href="/dashboard/tools/thoughtdiary/0/<%=thoughts[i].id%>" style="width:100%;height:150px" >
               <img src="<%=thoughts[i].image%>" class="object-cover rounded-md" style="width:100%;height:150px">
            </a>
            <section class="p-4 flex flex-col items-start">
            <p class=" text-black "><%=thoughts[i].summary%></p>
            <p class="bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700  mt-2">#<%=thoughts[i].category%></p>
        </section>
      </section>
    
     <% } %>
  </section>
  <h1 class="text-black px-16 py-8 text-base font-poppins">Motivations</h1>
  <section class=" px-16 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-7 lg:grid-cols-7 xl:grid-cols-7 gap-4">
  <% for(let i=0; i<motivations.length; i++) {%>
    
       
           <a href="/dashboard/tools/motivations/<%=motivations[i].id%>" style="width:100%;height:150px">
              <img src="<%=motivations[i].image%>" class="object-cover rounded-md" style="width:100%;height:150px">
           </a>
           <section class="p-4">
           <p class="text-black"><%=motivations[i].poem%></p>
           <p class="text-neutral-600"><%=motivations[i].author%></p>

       </section>
     </section>
   
    <% } %>
 </section>

 <h1 class="text-black px-16 py-8 text-base font-poppins">Community Posts</h1>
 <section class=" px-16 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-7 lg:grid-cols-7 xl:grid-cols-7 gap-4">
  
<!-- either populate or embed in user model the image etc for thoughts -->
   <% for(let i=0; i<community.length; i++) {%>
     
      <% if(community[i].thoughtBookmarks.length > 0){ %>
      
         <% for(let j=0; j<community[i].thoughtBookmarks.length; j++) {%>
            <section class="hover:scale-105 transition duration-300 ease-in-out  bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 shadow-neutral-500 shadow-md ">
         
      <!-- <p><%=community[i].thoughtBookmarks[j]%></p> -->
   
          <p><%=community[i].thoughtBookmarks[j].category%></p>
          <img src="<%=community[i].thoughtBookmarks[j].image%>" alt="" class="object-cover rounded-md" style="width:100%;height:150px">
     </section>
      <% } %>

      <% } %>
      <% } %>

</section>
</section>

