

<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover min-h-screen md:pb-56 pt-20 font-poppins">
   <section class="flex items-center bg-teal-700 bg-[url('/images/autumn.svg')] p-8 m-0 ">
 
   <p class="px-8 text-white pt-4 text-xl font-poppins"><span class="text-xl">Positivity Hub</span> - A place of positivity, to view and reflect on bookmarks of community posts, thoughts and motivations.</p>
</section>

   <h1 class="text-black px-16 py-8  text-base font-poppins">My Positive Thoughts</h1>
 <section class=" px-16 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-7 lg:grid-cols-7 xl:grid-cols-7 gap-4">

    
   <% for(let i=0; i<thoughts.length; i++) {%>
  <%console.log('thoughts user' + thoughts[i].user)%>

   <% if(thoughts[i].user.toString() ==  user._id){ %>
     <section class="hover:scale-105 transition duration-300 ease-in-out  bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 shadow-neutral-500 shadow-md ">
        
            <a href="/dashboard/tools/thoughtdiary/0/<%=thoughts[i].id%>" style="width:100%;height:150px" >
               <img src="<%=thoughts[i].image%>" class="object-cover rounded-md" style="width:100%;height:150px">
            </a>
            <section class="p-4 flex flex-col items-start">
            <p class=" text-black "><%=thoughts[i].summary%></p>
            <!-- <p class="bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700  mt-2">#<%=thoughts[i].category%></p> -->
        </section>
      </section>
      <% }%>
     <% } %>
  </section>
  <h1 class="text-black px-16 py-8 text-base font-poppins">My Motivations</h1>
  <section class=" px-16 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-7 lg:grid-cols-7 xl:grid-cols-7 gap-4">
  <% for(let i=0; i<motivations.length; i++) {%>
   <% if(motivations[i].user.toString() ==  user._id){ %>
   <section class="hover:scale-105 transition duration-300 ease-in-out  bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 shadow-neutral-500 shadow-md ">
           <a href="/dashboard/tools/motivations/<%=motivations[i].id%>" style="width:100%;height:150px">
              <img src="<%=motivations[i].image%>" class="object-cover rounded-md" style="width:100%;height:150px">
           </a>
           <section class="p-4">
           <p class="text-black"><%=motivations[i].poem%></p>
           <p class="text-neutral-600"><%=motivations[i].author%></p>

       </section>
     </section>

     <% }%>
    <% } %>
   </section>

 <h1 class="text-black px-16 py-8 text-base font-poppins">Community Posts</h1>
 <section class=" px-16 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-7 lg:grid-cols-7 xl:grid-cols-7 gap-4">
  
<!-- either populate or embed in user model the image etc for thoughts -->
   <% for(let i=0; i<community.length; i++) {%>
     <% console.log('comm len' + community.length + user.userName)%>
       <!-- && user.id is not current req.user  or hide bookmark for your own posts-->
      <% if(community[i].thoughtBookmarks.length > 0){ %>
      
         <% for(let j=0; j<community[i].thoughtBookmarks.length; j++) {%>
            <section class="hover:scale-105 transition duration-300 ease-in-out  bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 shadow-neutral-500 shadow-md ">
               <img src="<%=community[i].thoughtBookmarks[j].image%>" alt="" class="object-cover rounded-md" style="width:100%;height:150px">

               <section class="p-4 flex flex-col items-start">
                  <!-- <p class="font-bold">Author: <%=userName[i].user%></p>   -->
               <p class=" text-black "><%=community[i].thoughtBookmarks[j].summary%></p>
               <!-- <p class="bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700  mt-2">#<%=community[i].thoughtBookmarks[j].category%></p> -->
       
</section>
 </section>
      <% } %>
   </section>
      <% } %>
      <% } %>

</section>
</section>


