
<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-32 min-h-screen md:pb-56">


<section class="pt-32">
  <section>
    <h1 class=" text-white">Thought Diary</h1>
    <h2 class=" text-white"">Weekly thoughts</h2>
    <section class=" mt-20 container w-96 border border-white rounded-md text-white">
                
      <ul>
        <% for(var i=0; i<thoughts.length; i++) {%>
        <li class="flex flex-col align-middle justify-center">
          <a href="/tools/thoughtdiary/<%= thoughts[i]._id%>">
          <img src="<%= thoughts[i].image%>" class="rounded-t-md">
  
           <h1><%= thoughts[i].summary%></h1>
           <h1><%= thoughts[i].submitted%></h1>
        </a>
        </li>
        <% } %>
      </ul>
    </section>
    <section>
      <%= %> 

      <!-- image
      date -->
    </section>
  </section>

</section>
</section>
</section>
<!-- 
s

    <h1 class="p-8 text-neutral-300 font-bold font-barlow text-4xl flex flex-col">Wellbeing Tools</h1>
    
    <section class="p-16 text-white">
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-8">
            <section class=" hover:scale-105 transition delay-150 duration-300 ease-in-out max-w-sm rounded overflow-hidden shadow-lg h-full w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 border border-gray-200">
                <img class="w-full" src="/images/moods.jpg" alt="Sunset in the mountains">
                <section class="px-6 py-4">
                  <section class="font-bold text-xl mb-2">Mood Diary</section>
                </section>
                <section class="px-6 pt-4 pb-2">
             
                </section>
              </section>
        
            <section class="hover:scale-105 transition delay-150 duration-300 ease-in-out max-w-sm rounded overflow-hidden shadow-lg h-full w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 border border-gray-200">
                <img class="w-full" src="/images/quotes.jpg" alt="Sunset in the mountains">
                <section class="px-6 py-4">
                  <section class="font-bold text-xl mb-2">Motivational Quotes</section>
                  
                </section>
                <section class="px-6 pt-4 pb-2">
           
                </section>
              </section>
              <section class="hover:scale-105 transition delay-150 duration-300 ease-in-out max-w-sm rounded overflow-hidden shadow-lg h-full w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 border border-gray-200">
                <img class="w-full" src="/images/questions.jpg" alt="Sunset in the mountains">
                <section class="px-6 py-4">
                  <section class="font-bold text-xl mb-2">DASS21 Questionaire</section>
                  
                </section>
                <section class="px-6 pt-4 pb-2">
             
                </section>
              </section>
        
            <section class="hover:scale-105 transition delay-150 duration-300 ease-in-out max-w-sm rounded overflow-hidden shadow-lg h-full w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 border border-gray-200">
                <img class="w-full" src="/images/meditation.jpg" alt="Sunset in the mountains">
                <section class="px-6 py-4">
                  <section class="font-bold text-xl mb-2">Meditation Zone</section>
                  
                </section>
                <section class="px-6 pt-4 pb-2">
               
                </section>
              </section>
            </section>
        </section> 
     
        </section>
     



    

   


    

