
<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-32 min-h-screen md:pb-56 font-poppins">
  <section class=" text-black ">

   <% const date = new Date()%>
    <% const time = date.getHours()%>
    <% console.log(time)%>
<% let greeting = time < 12 ? 'Morning' : time > 12 && time < 18 ? 'Afternoon': 'Evening'%>
    

    <h1 class =" px-14 text-3xl text-black py-4 font-bold">Good <%=greeting%>, <%=user.userName%></h1>
  </section>
<section class="py-8">
  <h1 class="text-xl px-16 font-poppins ">Visualise your Moods</h1>
</section>


    <!-- 
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/      charts-mongodb-gtywi/embed/charts?id=7f535ee7-2074-4350-9f94-237277b94391&theme=light"></iframe>
    -->
    <section class="px-14">
     
    <section class="px-8 pt-10 mb-10 shadow-md max-w-6xl  bg-black   rounded-lg bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20">
      <section class="flex space-x-4 justify-center font-poppins">
        <p>6 - Great</p>
        <p>5 - Very Good</p>
        <p>4 - Good</p>
        <p>3 - Bad</p>
        <p>2 - Very Bad</p>
        <p>1 - Awful</p>
      </section>
    <div id="chart" class=" max-w-7xl "></div>
  </section>
</section>
 <section class="px-14 ">

 <section class="flex flex-col  bg-black   rounded-lg bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 shadow-md max-w-5xl">
 

  <!-- <h1 class="text-black pl-8 pt-4  text-center text-lg font-bold">YOUR WEEKLY SUBMISSIONS<span class="font-bold border-b border-white"><%#=[...new Set(mood)].join('').toUpperCase()%> </span></h1> -->

   <!-- loop over the length of the mongo data and shorten the date to dd,yy and push ddate to array-->


 <!-- map the last 7 days array and if mongoDates array includes the item from last 7 days array then display the date else 0 which means no entry was submitted -->

<!-- if date is less than current an is 0 then hide -->
<section class="WeeklyDates overflow-hidden grid grid-cols-2 grid-rows-7 p-8 gap-4 md:grid-rows-1 md:grid-cols-7 lg:grid-cols-7 xl:grid-cols-7 text-black font-bold w-4xl">
<% for(let i=0; i< thoughts.length; i++) {%>

  <section class="rounded-lg overflow-hidden shadow-md row-start-auto"> 
   <%const date = new Date(thoughts[i].date)%> 
   <%const d = date.getDate()%>
   <%const m = date.getMonth()+1%>
    <p class="text-center p-4 text font-normal"><%=`${d}/${m}`%></p>
    <section class="row-start-<%i%>">

    </section>
    <section class=" h-2 date " >
      <a class="thoughtRoute" href="/dashboard/tools/thoughtdiary<%thoughts.id%>">
      <img src='<%=thoughts[i].image%>' alt="" class="object-cover" style="width:100%;height:153px">
    </a>

    <!-- links to all items by same category -->
    <p class=" m-5 flex justify-center bg-gray-200 rounded-full  py-1 text-xs font-semibold text-gray-700  category hover:text-white hover:bg-teal-700 text-center"><%=thoughts[i].category%></p>

  </section>
 </section> 

 
 
        <% } %>
      </section>

      


  <!-- do a loop over the quotes and math.random for each time you log in or each day  --> 
  </section>
  

</section>
<!-- <section class="h-62"> -->
  <section class="">
    <h1 class="text-xl px-16 font-poppins pt-8">Be Inspired</h1>
  </section>
  

  <!-- <h2 class=" py-4 text-neutral-300 font-barlow text-2xl  flex ">Daily Quote</h2> -->

  <section class="px-16 py-8  mongoDates  grid  grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-4 text-center max-w-4xl pb-8 ">

  
    <% for(let i=0; i<1; i++) {%>   

      <section class=" bg-black rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 shadow-md">
     
      <section class=" motivationsCard bg-motivations rounded-t-md" style="background-image: url('<%= motivations[i].image%>')">
     

      <section class="flex justify-end space-x-6 py-8 px-8">
        <p class="flex circlesBtn space-x-1 ">
          <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" fill="white" class="w-2 h-2 shadow-sm shadow-slate-600 rounded-full">
          <circle cx="50" cy="50" r="50" />
        </svg>
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" fill="white" class="w-2 h-2 shadow-sm shadow-slate-600 rounded-full">
          <circle cx="50" cy="50" r="50" />
        </svg>
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" fill="white" class="w-2 h-2 shadow-sm shadow-slate-600 rounded-full">
          <circle cx="50" cy="50" r="50" />
        </svg>
      </p>
      <section>
      <section class="likeOrNot" hidden>

      </section>
    </section>
        <!-- <p class="text-neutral-400">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6  hover:fill-teal-700">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z" />
          </svg>
          
        </p>
        <p class="text-neutral-400">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:fill-teal-700">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 15h2.25m8.024-9.75c.011.05.028.1.052.148.591 1.2.924 2.55.924 3.977a8.96 8.96 0 01-.999 4.125m.023-8.25c-.076-.365.183-.75.575-.75h.908c.889 0 1.713.518 1.972 1.368.339 1.11.521 2.287.521 3.507 0 1.553-.295 3.036-.831 4.398C20.613 14.547 19.833 15 19 15h-1.053c-.472 0-.745-.556-.5-.96a8.95 8.95 0 00.303-.54m.023-8.25H16.48a4.5 4.5 0 01-1.423-.23l-3.114-1.04a4.5 4.5 0 00-1.423-.23H6.504c-.618 0-1.217.247-1.605.729A11.95 11.95 0 002.25 12c0 .434.023.863.068 1.285C2.427 14.306 3.346 15 4.372 15h3.126c.618 0 .991.724.725 1.282A7.471 7.471 0 007.5 19.5a2.25 2.25 0 002.25 2.25.75.75 0 00.75-.75v-.633c0-.573.11-1.14.322-1.672.304-.76.93-1.33 1.653-1.715a9.04 9.04 0 002.86-2.4c.498-.634 1.226-1.08 2.032-1.08h.384" />
          </svg>
          
        </p> -->
      </section>
    </section>
    
      <section class="flex  w-full justify-between py-8 flex-col">
        <p class="text-black text-2xl text-left px-8 py-4"><%=motivations[i].poem%></p>
        <p class="text-gray-700 px-8 text-left"><%=motivations[i].author%></p>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
        </svg>
         -->
    
    
    </section>
      <% } %>
      </section>
     
      
  
  
</section>

<!-- </section> -->
</section>

</section>

<script>
  const sdk = new ChartsEmbedSDK({
    baseUrl: 'https://charts.mongodb.com/charts-emotionaliser-shqds'
  });

  const chart = sdk.createChart({ chartId: '6331f70c-3ec8-447c-8f6b-03072c86d614',
  height: "400px",
  width:"100%",
  showAttribution:false,
  background:"transparent",
  labels:false,
  autoRefresh:true

}); 
  chart.render(document.getElementById('chart'));
  chart.setAutoRefresh(true);
chart.setMaxDataAge(30);
</script>

