

<section
  class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-28 min-h-screen md:pb-56"
>
  <h1
    class="px-16 py-4 text-neutral-300 font-bold font-barlow text-4xl flex justify-center"
  >
    <%= users.userName%>
  </h1>
  <h1
    class="px-16 py-4 text-neutral-300 font-bold font-barlow text-3xl flex justify-center"
  >
    Thought Diary
  </h1>

  <section class="flex flex-col align-middle p-10">
    <a href="/tools/thoughtdiary/submit-thought">
    <section class="flex align-middle justify-center h-screen">
      <!-- image could be a github heatmap for each thought map entry -->
      <section
        class="hover:scale-105 transition delay-150 duration-300 ease-in-out max-w-sm overflow-hidden shadow-lg h-full w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 border border-gray-200"
      >
        <img
          class="object-cover shadow-sm shadow-slate-900"
          src="/images/moods.jpg"
          alt="Sunset in the mountains"
          style="width: 100%; height: 400px"
        />
        <section class="text-white">
          <h1 class="text-center p-4 text-lg ">Add Todays Thought</h1>
        </section>
      </section>
   
    </section>
  </a>


<!-- <section class="flex flex-col"> -->
  
  <% for(let i=0; i<thoughts.length; i++) {%>
    <section class="even:bg-gray-600 odd:bg-slate-500 mt-10 border border-gray-500 rounded-lg p-5 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-5 lg:grid-cols-5 xl:grid-cols-5 place-items-center gap-8  text-white text-lg ">
    <p class=""><%=thoughts[i].date.toLocaleDateString('en-GB')%></p>
    <a href="/tools/thoughtdiary/<%=thoughts[i].id%>" style="width:100%;height:150px"><img class="object-cover rounded-md shadow-md shadow-slate-700" src="<%=thoughts[i].image%>" alt="" style="width:100%;height:150px"></a>
    <p class=""><a href="tools/thoughtDiary/categories"><%=thoughts[i].category%></a></p>
    <p class=""><%=thoughts[i].summary%></p>
    <!-- <p class=""><%=thoughts[i].details%></p> -->
    <p class="rating"><%=thoughts[i].rating%></p>
    <!-- <p><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
    </svg>
    </p>
    <p class="del"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
    </svg>
    </p> -->
    </section>
    <%}%>

<!-- </section> -->
  </section>
</section>
