

<section
  class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-28 min-h-screen md:pb-56"
>
  <h1
    class="px-16 py-4 text-neutral-300 font-bold font-barlow text-4xl flex justify-center"
  >
    <%= users.userName%>
  </h1>
  <h1
    class="px-16 py-4 text-neutral-300 font-bold font-barlow text-3xl flex justify-center"
  >
    Thought Diary
  </h1>

  <section class="flex flex-col align-middle p-10">
    <a href="/tools/thoughtdiary/submit-thought">
    <section class="flex align-middle justify-center h-screen">
      <!-- image could be a github heatmap for each thought map entry -->
      <section
        class="hover:scale-105 transition delay-150 duration-300 ease-in-out max-w-sm overflow-hidden shadow-lg h-full w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 border border-gray-200"
      >
        <img
          class="object-cover shadow-sm shadow-slate-900"
          src="/images/moods.jpg"
          alt="Sunset in the mountains"
          style="width: 100%; height: 400px"
        />
        <section class="text-white">
          <h1 class="text-center p-4">Add Todays Thought</h1>
        </section>
      </section>
   
    </section>
  </a>


<!-- <section class="flex flex-col"> -->
  <% for(let i=0; i<thoughts.length; i++) {%>
    <section class="even:bg-gray-600 odd:bg-slate-500 mt-10 border border-white rounded-lg p-5 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-5 lg:grid-cols-5 xl:grid-cols-5 place-items-center gap-8  text-white ">
    <p class=""><%=thoughts[i].date.toLocaleDateString('en-GB')%></p>
    <img class="object-cover rounded-md shadow-md shadow-slate-700" src="<%=thoughts[i].image%>" alt="" style="width:100%;height:150px">
    <p class=""><%=thoughts[i].category%></p>
    <p class=""><%=thoughts[i].summary%></p>
    <p class=""><%=thoughts[i].details%></p>
    </section>

    <%}%>

<!-- </section> -->
  </section>
</section>
